{% extends 'base.html' %}


{% block title %}Все товары{% endblock title %}

{% block menu %}
    {% if perms.webapp.add_product%}
        <li><a href="{% url "webapp:add" %}">Создать товар</a></li>
    {% endif %}
{% endblock menu %}

{% block page_header %}Все товары{% endblock page_header %}

{% block content %}
    {% if not products %}
        <h2>НЕТ ТОВАРОВ</h2>
    {% else %}
        {% include "partial/search_form.html" %}
    {% endif %}

   {% include 'partial/product_list.html' %}

{% endblock content %}