{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if product.picture %}
        <img class="picture" src="{{ product.picture.url }}" width="250" height="250" alt="product picture">
    {% else %}
        <img class="picture" src="{% static "images/default.jpg" %}" width="250" height="250">
    {% endif %}
    <p>Name: {{ product.name }}</p>
    <p>Category: {{ product.category }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Average rating: {{ average }}</p>

    <h2>Feedbacks:</h2>
    {% for feedback in product.feedbacks.all %}
        {% if feedback.moderated == True %}
            <p>{{ feedback.author.username }}(email: {{ feedback.author.email }}): {{ feedback.feedback_text }}({{ feedback.rating }})</p>
        {% endif %}
    {% empty %}
        <p>Нет отзывов :(</p>
    {% endfor %}
{% endblock content %}